.header {
  display: flex;
  max-width: 1280px;
  padding: 20px 70px;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 410px) {
  .header {
    padding: 18px 14px;
  }
}

.header_grey {
  background-color: #DDDEE3;
}

.header_auth {
  width: 410px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 0 0;
}

@media screen and (max-width: 780px) {
  .header_auth {
    padding-top: 232px; 
  }
}

@media screen and (max-width: 470px) {
  .header_auth {
    padding: 56px 14px 0;
    margin-bottom: 10px;
    width: 38px;
  }
}

.header__hidden {
  display: none;
}

.header__logo {
  width: 38px;
}

.header__button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 44px;
}